      <main role="main" class="col-md-12 ml-sm-auto">
        <div class="d-flex justify-content-center border-bottom text-monospace">
          <h1>
            Insert a document
          </h1>
        </div>
        <div class="accordion" id="accordionHS">
          <div class="card bg-dark">
            <div class="card-header" id="headingOne">
              <a class="text-dark" href="#/addf" data-toggle="tooltip" data-placement="bottom" title="Components">
                <button type="button" class="btn btn-sm btn-lg btn-block btn-outline-warning waves-effect">
                  Add an attribute
                  <span data-feather="archive">
                  </span>
                </button>
              </a>
              </div>
            </div>
            <div class="card bg-dark">
              <div class="card-header" id="headingTwo">
                <a class="text-warning" href="#/addc" data-toggle="tooltip" data-placement="bottom" title="Classes">
                  <button type="button" class="btn btn-sm btn-lg btn-block btn-outline-warning waves-effect">
                    Define a class
                    <span data-feather="book-open">
                    </span>
                  </button>
                </a>
              </div>
          </div>
          <div class="card bg-dark">
            <div class="card-header" id="headingThree">
              <a class="text-warning" href="#/addb" data-toggle="tooltip" data-placement="bottom" title="Blocks">
                <button type="button" class="btn btn-sm btn-lg btn-block btn-outline-warning waves-effect">
                  Create a block
                  <span data-feather="cpu">
                  </span>
                </button>
              </a>
            </div>
          </div>
          </div>

      <!-- Icons -->
      <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
      <script>
      feather.replace()
    </script>
