      <main role="main" class="col-md-12 ml-sm-auto">
          <div class="card bg-dark">
            <div class="card-header" id="headingOne">
              <a class="text-dark" href="#/addf" data-toggle="tooltip" data-placement="bottom" title="Attributes">
                <button type="button" class="btn btn-sm btn-block btn-outline-warning ">
                  Add an attribute
                  <span data-feather="archive">
                  </span>
                </button>
              </a>
              </div>
            </div>
            <div class="card bg-dark">
              <div class="card-header" id="headingTwo">
                <a class="text-warning" href="#/addc" data-toggle="tooltip" data-placement="bottom" title="Classes">
                  <button type="button" class="btn btn-sm btn-block btn-outline-warning ">
                    Define a class
                    <span data-feather="book-open">
                    </span>
                  </button>
                </a>
              </div>
            </div>
            <div class="card bg-dark">
            <div class="card-header" id="headingThree">
              <a class="text-warning" href="#/addb" data-toggle="tooltip" data-placement="bottom" title="Blocks">
                <button type="button" class="btn btn-sm btn-block btn-outline-warning ">
                  Create a block
                  <span data-feather="cpu">
                  </span>
                </button>
              </a>
            </div>
          </div>
          
      <script>
      feather.replace()
      </script>
