<main role="main" class="col-md-12 ml-sm-auto">
  <div class="d-flex justify-content-center border-bottom text-monospace">
    <h1>
      Insert a document
    </h1>
  </div>
  <div class="accordion" id="accordionHS">
    <div class="card bg-dark">
      <div class="card-header" id="headingOne">
        <a class="text-warning" href="#/addf" data-toggle="tooltip" data-placement="bottom" title="Components">
          <button type="button" class="btn btn-sm btn-lg btn-block btn-outline-warning waves-effect">
            Add an attribute
            <span data-feather="archive">
            </span>
          </button>
        </a>
        </div>
      </div>
      <div class="card bg-dark">
        <div class="card-header" id="headingTwo">
          <a class="text-warning" href="#/addc" data-toggle="tooltip" data-placement="bottom" title="Classes">
            <button type="button" class="btn btn-sm btn-lg btn-block btn-outline-warning waves-effect">
              Define a class
              <span data-feather="book-open">
              </span>
            </button>
          </a>
        </div>
    </div>
    <div class="card bg-dark text-light">
      <div class="card-header" id="headingThree">
        <a class="text-warning" href="#/addb" data-toggle="tooltip" data-placement="bottom" title="Blocks">
          <button type="button" class="btn btn-sm btn-lg btn-block btn-outline-warning waves-effect">
            Create a block
            <span data-feather="cpu">
            </span>
          </button>
        </a>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionHS">
          <div class="card-body">
            <div class="border border-warning p-4 text-center">
              <div class="col-md-12">
                <div class="h5 text-center font-weight-bold">
                  Block
                  <span data-feather="cpu" class="text-warning">
                  </span>
                </div>
                <br>
                <form name="myForm" ng-submit="addBlock()">
                  <div class="form-group">
                    <small class="form-text text-muted">
                      Please verify similar blocks
                    </small>
                    <input type="text" class="form-control" ng-model="block.name" placeholder="name" required>
                    <br>
                    <div class="form-row">
                      <input type="checkbox" class="custom-control-input" id="customCheck4" ng-model="checkedB">
                      <label class="custom-control-label" for="customCheck4" ng-if="block.name">
                        check matching existing blocks
                      </label>
                      <hr>
                      <span ng-if="checkedB&&block.name.length>0">
                        <select class="form-control mdb-color white-text border-0" ng-init="getBlocks()">
                          <option>
                            This name has not been used before
                          </option>
                          <option ng-repeat="block in blocks | filter : block.name" selected>
                            {{block.name}}
                          </option>
                        </select>
                        <br>
                        <input type="checkbox" class="custom-control-input" id="customCheck5" ng-model="block.uniqueness" ng-true-value="'true'">
                        <label class="custom-control-label" for="customCheck5">
                          confirm the uniqueness of this block
                    </label>
                      </span>
                    </div>
                    <br>
                    <span ng-if="block.uniqueness=='true'">
                    <div ng-init="getFoundries()">
                      <select class="custom-select" ng-model="block.foundry">
                        <option value="" disabled selected>
                          Select foundry
                        </option>
                        <option ng-repeat="foundry in foundries | orderBy : 'name'" value="{{foundry._id}}">
                          {{foundry.name}}
                        </option>
                      </select>
                    </div>
                    <br>
                    <small class="form-text text-muted">
                      Function: Extensive classification
                      <br>
                      Class: Narrow classification
                    </small>
                    <div ng-init="getDefinitions()" class="form-row">
                      <select class="custom-select mb-2" ng-model="block.function">
                        <option value="" disabled selected>
                          Select function
                        </option>
                        <option value="{{component._id}}" ng-repeat="component in components|orderBy:'name'|filter:{type: 'function'}">
                          {{component.name}}
                        </option>
                      </select>
                      <select class="custom-select" ng-model="block.class">
                        <option value="" disabled selected>
                          Select class
                        </option>
                        <option ng-repeat="definition in definitions|orderBy:'name'|filter:block.function"value="{{definition._id}}">
                          {{definition.name}}
                        </option>
                      </select>
                    </div>
                    <br>
                    <div class="border border-warning p-2 text-center">
                      <p class="font-weight-bold">
                        Status:
                      </p>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="ActiveR" ng-model="block.status" value="up-to-date">
                        <label class="custom-control-label" for="ActiveR">
                          Up-to-date
                          <small class="form-text text-muted">
                            Operational up-to-date blocks
                          </small>
                        </label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="tobeR" ng-model="block.status" ng-value="!">
                        <label class="custom-control-label" for="tobeR">
                          To be updated
                        </label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="ObsoleteR" ng-model="block.status" name="disabledGroupExample"  value="obsolete">
                        <label class="custom-control-label" for="ObsoleteR">
                          Obsolete
                          <small class="form-text text-muted">
                            Deprecated/discarded blocks
                          </small>
                        </label>
                      </div>
                    </div>
                    <br>
                    <div class="border border-warning p-2 text-center">
                      <p class="font-weight-bold">
                        Reference :
                      </p>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="ProcessR" ng-model="block.reference" value="PDK">
                        <label class="custom-control-label" for="ProcessR">
                          PDK
                        </label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="PaperR" ng-model="block.reference" value="Literature">
                        <label class="custom-control-label" for="PaperR">
                          Literature
                        </label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="VLCR" ng-model="block.reference" value="VLC">
                        <label class="custom-control-label" for="VLCR">
                          VLC
                        </label>
                      </div>
                      <br>
                      <br>
                      <div ng-init="getComponents()">
                        <select class="custom-select" ng-model="block.source">
                          <option value="" disabled selected>
                            Select source
                          </option>
                          <option ng-repeat="component in components|filter:{type:'reference'}|filter:block.foundry|orderBy:'name'" value="{{component._id}}">
                            {{component.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <br>
                    <textarea class="form-control" ng-model="block.notes" placeholder="notes" rows="3" cols="80">
                    </textarea>
                    <br>
                    <label class="font-weight-bold">
                      Custom parameters
                      <small class="form-text text-muted">
                        Hold <kbd class="bg-warning text-dark">Ctrl</kbd> for multiple selection
                      </small>
                    </label>
                    <br>
                    <select class="form-control" size="15" ng-model="block.parameters" multiple ng-init="getComponents()">
                      <option ng-repeat="component in components | orderBy : 'name' | filter : {type: 'parameter'}" value="{{component._id}}">
                        {{component.name}}
                      </option>
                    </select>
                  </div>
                  <span ng-if="block.uniqueness=='true'">
                  <button type="submit" class="btn btn-warning btn-block my-4">
                    Submit
                  </button>
                  <br>
                  <br>
                  <div ng-if="block.parameters.length>0">
                  <label class="justify-content-center align-items-center font-weight-bold">
                    Selected custom parameters
                  </label>
                  <table class="table table-sm">
                    <tbody>
                      <tr ng-repeat="parameters in block.parameters">
                        <th scope="row">
                          {{$index+1}}
                        </th>
                        <td ng-repeat="component in components|filter:{_id:block.parameters[$index]}">
                          {{component.name}}
                        </td>
                      </tr
                    </tbody>
                  </table>
                  </div>
                  </span>
                </form>
              </div>
            </div>
          </div>
        </div>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
feather.replace()
</script>
