  <main role="main" class="col-md-12 ml-sm-auto">
    <div class="d-flex justify-content-center border-bottom text-monospace">
      <h1>
        Insert a document
      </h1>
    </div>
    <div class="accordion" id="accordionHS">
      <div class="card bg-dark">
        <div class="card-header" id="headingOne">
          <a class="text-warning" href="#/addf" data-toggle="tooltip" data-placement="bottom" title="Components">
            <button type="button" class="btn btn-sm btn-lg btn-block btn-outline-warning waves-effect">
              Add an attribute
              <span data-feather="archive">
              </span>
            </button>
          </a>
        </div>
      </div>
    <div class="card bg-dark text-light">
      <div class="card-header" id="headingTwo">
        <a class="text-warning" href="#/addc" data-toggle="tooltip" data-placement="bottom" title="Classes">
          <button type="button" class="btn btn-sm btn-lg btn-block btn-outline-warning waves-effect">
            Define a class
            <span data-feather="book-open">
            </span>
          </button>
        </a>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionHS">
        <div class="card-body">
          <div class="border border-warning p-4 text-center">
            <div class="col-md-12">
              <div class="h5 text-center font-weight-bold">
                Class
                <span data-feather="book-open" class="text-warning">
                </span>
              </div>
              <br>
              <form name="myForm" ng-submit="addDefinition()">
                <div class="form-group">
                  <small class="form-text text-muted">
                    Please verify similar classes
                  </small>
                  <input type="text" class="form-control" ng-model="definition.name" placeholder="name" required>
                  <hr>
                  <div class="form-row">
                    <input type="checkbox" class="custom-control-input" id="customCheck3" ng-model="checkedD">
                    <label class="custom-control-label" for="customCheck3" ng-if="definition.name">
                      check matching existing classes
                    </label>
                    <hr>
                    <span ng-if="checkedD&&definition.name.length>0" >
                      <select class="form-control mdb-color white-text border-0" ng-init="getDefinitions()">
                        <option>
                          This name has not been used before
                        </option>
                        <option ng-repeat="definition in definitions | filter : definition.name" selected>
                          {{definition.name}}
                        </option>
                      </select>
                      <br>
                      <input type="checkbox" class="custom-control-input" id="customCheck6" ng-model="definition.uniqueness" ng-true-value="'true'">
                      <label class="custom-control-label" for="customCheck6">
                        confirm the uniqueness of this class
                  </label>
                    </span>
                  </div>
                  <br>
                  <span ng-if="definition.uniqueness=='true'">
                  <small class="form-text text-muted">
                    Extensive definition classification
                  </small>
                  <div ng-init="getComponents()">
                    <select class="custom-select" ng-model="definition.function">
                      <option value="" disabled selected>
                        Choose a function
                      </option>
                      <option ng-repeat="component in components | orderBy : 'name' | filter : {type: 'function'}" value="{{component.name}}">
                        {{component.name}}
                      </option>
                    </select>
                    <br>
                    <br>
                    <label class="font-weight-bold">
                      Parameters
                      <small class="form-text text-muted">
                        Hold <kbd class="bg-warning text-dark">Ctrl</kbd> for multiple selection
                      </small>
                    </label>
                    <br>
                    <select class="form-control" size="15" ng-model="definition.specifications" multiple>
                      <option ng-repeat="component in components | orderBy : 'name' | filter : {type: 'parameter'} | filter : m" value="{{component.name}}">
                        {{component.name}}
                      </option>
                    </select>
                  </div>
                </div>
                </span>
                <span ng-if="definition.uniqueness=='true'">
                <button type="submit" class="btn btn-warning btn-block my-4">
                  Submit
                </button>
                <br>
                <div ng-if="definition.specifications.length>0">
                <label class="justify-content-center align-items-center font-weight-bold">
                  Selected parameters
                </label>
                <table class="table table-sm">
                  <tbody>
                    <tr ng-repeat="specifications in definition.specifications">
                      <th scope="row">
                        {{$index+1}}
                      </th>
                      <td>
                        {{definition.specifications[$index]}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-dark">
      <div class="card-header" id="headingThree">
        <a class="text-warning" href="#/addb" data-toggle="tooltip" data-placement="bottom" title="Blocks">
          <button type="button" class="btn btn-sm btn-lg btn-block btn-outline-warning waves-effect">
            Create a block
            <span data-feather="cpu">
            </span>
          </button>
        </a>
      </div>
    </div>
  </div>

      <!-- Icons -->
      <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
      <script>
      feather.replace()
    </script>
