    <main role="main" class="col-md-12 ml-sm-auto">
      <div class="card bg-dark">
        <div class="card-header" id="headingOne">
          <a class="text-warning" href="#/addf" data-toggle="tooltip" data-placement="bottom" title="Attributes">
            <button type="button" class="btn btn-sm btn-block btn-outline-warning">
              Add an attribute
              <span data-feather="archive">
              </span>
            </button>
          </a>
        </div>
        <div class="card-header" id="headingThree">
          <a class="text-warning" href="#/addb" data-toggle="tooltip" data-placement="bottom" title="Blocks">
            <button type="button" class="btn btn-sm btn-block btn-outline-warning ">
              Create a block
              <span data-feather="cpu">
              </span>
            </button>
          </a>
        </div>
      </div>
      <div class="card bg-dark text-light">
        <div class="card-header" id="headingTwo">
          <a class="text-warning" href="#/addc" data-toggle="tooltip" data-placement="bottom" title="Classes">
            <button type="button" class="btn btn-sm btn-block btn-outline-warning">
              Define a class
              <span data-feather="book-open">
              </span>
            </button>
          </a>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
          <div class="card-body">
            <div class="border border-warning p-4 text-center">
              <div class="col-md-12">
                <div class="h5 text-center font-weight-bold">
                  Class
                  <span data-feather="book-open" class="text-warning">
                  </span>
                </div>
                <br>
              <form ng-submit="addDefinition()">
                <div class="form-group">
                  <small class="form-text text-muted">
                    Please verify similar classes
                  </small>
                  <input type="text" class="form-control" ng-model="definition.name" placeholder="name" required>
                  <br>
                  <div>
                    <div class="float-left">
                    <input type="checkbox" class="custom-control-input" id="customCheckch" ng-model="checkedF">
                    <label class="custom-control-label" for="customCheckch" ng-if="definition.name">
                      check matching existing classes
                    </label>
                    </div>
                    <div class="float-right">
                    <span ng-if="checkedF&&definition.name.length>0">
                      <select class="form-control mb-4 float-right text-dark font-weight-bold" ng-init="getDefinitions()">
                        <option>
                          This name has not been used before
                        </option>
                        <option value="{{definition.name}}" ng-repeat="definition in definitions|filter:{name:definition.name}" selected>
                          {{definition.name}}
                        </option>
                      </select>
                    </span>
                    <div ng-if="checkedF">
                    <input type="checkbox" class="custom-control-input" id="customCheck3" ng-model="definition.uniqueness">
                    <label class="custom-control-label" for="customCheck3">
                      confirm the uniqueness of this class
                    </label>
                    </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <span ng-if="definition.uniqueness&&definition.name">
                  <small class="form-text text-muted p-4 mt-2">
                    Extensive definition classification
                  </small>
                  <div ng-init="getComponents()">
                    <select class="custom-select" ng-model="definition.function" required>
                      <option value="" disabled selected>
                        Choose a function
                      </option>
                      <option ng-repeat="component in components|orderBy:'name'|filter:{type:'function'}" value="{{component._id}}">
                        {{component.name}}
                      </option>
                    </select>
                    <br>
                    <br>
                    <label class="font-weight-bold">
                      Parameters
                      <small class="form-text text-muted">
                        Hold <kbd class="bg-warning text-dark">Ctrl</kbd> for multiple selection
                      </small>
                    </label>
                    <br>
                    <select class="form-control" size="15" ng-model="definition.specifications" multiple required>
                      <option ng-repeat="component in components|orderBy:'name'|filter:{type:'parameter'}" value="{{component._id}}">
                        {{component.name}}
                      </option>
                    </select>
                  </div>
                  </span>
                </div>
                <span ng-if="definition.uniqueness&&definition.name">
                <button type="submit" class="btn btn-warning btn-block my-4">
                  Submit
                </button>
                </span>
                <br>
                <div ng-if="definition.specifications.length>0">
                  <label class="font-weight-bold">
                    Selected parameters
                  </label>
                  <table class="table table-sm">
                    <tbody>
                      <tr ng-repeat="specifications in definition.specifications">
                        <th scope="row">
                          {{$index+1}}
                        </th>
                        <td ng-repeat="component in components|filter:{_id:definition.specifications[$index]}">
                          {{component.name}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <script>
    feather.replace()
  </script>
