<main role="main" class="col-md-9 mx-auto">
  <div class="d-flex justify-content-center border-bottom">
    <h2>
      Assign to {{component.name}}
    </h2>
  </div>
  <br>
  <div class="border border-warning p-4 text-center d-flex bd-highlight bg-dark text-light">
    <div class="p-2 flex-sm-fill bd-highlight">
      <div class="row">
        <div class="col-md-12">
          <form ng-submit="updateComponent()" ng-init="getComponent()">
            <div class="form-group">
              <div ng-init="getFoundries()">
                <label class="font-weight-bold">
                  Assign a foundry
                </label>
                  <select class="custom-select mb-2" ng-model="component.foundry">
                    <option value="" disabled selected>
                      Select Foundry
                    </option>
                    <option value="{{foundry._id}}" ng-repeat="foundry in foundries|orderBy:'name'">
                      {{foundry.name}}
                    </option>
                  </select>
                </div>
              </div>
            <button type="submit" class="btn btn-warning btn-block my-4">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
