  <div ng-init="[getComponents(),getFoundries()]">
    <main role="main" class="col-md-12 ml-sm-auto">
      <div class="d-flex justify-content-center border-bottom">
        <h1>
          Attributes
        </h1>
      </div>
      <div class="card border-elegant p-0 m-0" style="width: 100%; background-color:#2E2E2E; min-width: 20rem;">
        <div class="card-body">
      <form>
        <label class="sr-only" for="inlineFormInputGroupAll">
          All
        </label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span data-feather="search" style="width: 15px; height: 15px;">
              </span>
            </div>
          </div>
          <input type="text" class="form-control form-control-sm" id="inlineFormInputGroupAll" ng-model="q" aria-label="filter blocks" placeholder="" data-toggle="tooltip" data-placement="right" title="Search within all the attributes of an attribute. Only subsequent expressions, combine the neighboring fields for sparse expressions.">
          <input type="text" class="form-control form-control-sm" id="inlineFormInputGroupAll" ng-model="q0" aria-label="filter blocks" placeholder="" data-toggle="tooltip" data-placement="right" title="Search within all the attributes of an attribute. Only subsequent expressions, combine the neighboring fields for sparse expressions.">
          <input type="text" class="form-control form-control-sm" id="inlineFormInputGroupAll" ng-model="q1" aria-label="filter blocks" placeholder="" data-toggle="tooltip" data-placement="right" title="Search within all the attributes of an attribute. Only subsequent expressions, combine the neighboring fields for sparse expressions.">
        </div>
      </form>
      <hr class="bg-warning">
      <div class="btn-group d-flex justify-content-center" role="group" aria-label="view">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFunctions" aria-expanded="true" aria-controls="collapseFunctions" style="background-color:#4B515D;" data-toggle="tooltip" data-placement="right" title="Show/hide functions">
          <h6 class="mt-2">
          Functions
            <span class="badge badge-warning">
              {{(components|filter:q|filter:q0|filter:q1| filter: {type:'function'}).length}}
            </span>
          </h6>
        </button>
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseParameters" aria-expanded="false" aria-controls="collapseParameters" style="background-color:#4B515D;" data-toggle="tooltip" data-placement="right" title="Show/hide parameters">
          <h6 class="mt-2">
          Parameters
            <span class="badge badge-warning">
              {{(components|filter:q|filter:q0|filter:q1| filter: {type:'parameter'}).length}}
            </span>
          </h6>
        </button>
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseReferences" aria-expanded="false" aria-controls="collapseReferences" style="background-color:#4B515D;" data-toggle="tooltip" data-placement="right" title="Show/hide sources">
          <h6 class="mt-2">
          Sources
            <span class="badge badge-warning">
              {{(components|filter:q|filter:q0|filter:q1| filter: {type:'reference'}).length}}
            </span>
          </h6>
        </button>
      </div>
      </div>
      </div>
      <br>
      <div class="collapse" id="collapseFunctions">
        <h2 class="d-flex justify-content-center">Functions</h2>
        <br>
        <div class="row d-flex justify-content-center" id="FoundriesCopy">
          <div ng-repeat="component in components | orderBy : 'name' | filter : {type: 'function'} | filter : q0 | filter : q | filter:q1">
            <div class="card border-elegant" style="width: 20rem; height: 100%;">
              <div class="card-body">
                <h3 class="card-title text-center">
                  {{::component.name}}
                </h3>
                <div class="float-right">
                  <a href="#/component/{{component._id}}" class="btn btn-sm btn-warning btn-lg btn-block" role="button" aria-pressed="true">
                    Edit/Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <br>
      <div class="collapse" id="collapseParameters">
        <h2 class="d-flex justify-content-center">Parameters</h2>
        <br>
        <div class="row d-flex justify-content-center" id="FoundriesCopy">
          <div ng-repeat="component in components | orderBy : 'name' | filter : {type: 'parameter'} | filter : q0 | filter : q | filter:q1">
            <div class="card border-elegant" style="width: 20rem; height: 100%;">
              <div class="card-body">
                <h3 class="card-title text-center">
                  {{::component.name}}
                </h3>
                <div class="float-right">
                  <a href="#/component/{{component._id}}" class="btn btn-sm btn-warning btn-lg btn-block" role="button" aria-pressed="true">
                     Edit/Delete
                   </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <br>
      <div class="collapse" id="collapseReferences">
        <h2 class="d-flex justify-content-center">Sources</h2>
        <br>
        <div class="card border-elegant p-0 m-0" style="width: 100%; background-color:#2E2E2E; min-width: 20rem;">
          <div class="card-body">
        <form>
          <div class="form-row">
            <div class="col">
                <select class="custom-select custom-select-sm mb-2" ng-model="d">
                  <option value="" selected>
                    Select foundry
                  </option>
                  <option value="{{foundry.name}}" ng-repeat="foundry in foundries | orderBy : 'name'" >
                    {{::foundry.name}}
                  </option>
                </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
        <div class="row d-flex justify-content-center" id="FoundriesCopy">
          <div ng-repeat="component in components | orderBy : 'name' | filter : {type: 'reference'} | filter : q0 | filter : q | filter:q1 | filter :{foundry:d}">
            <div class="card border-elegant" style="width: 20rem; height: 100%;">
              <div class="card-body">
                <h3 class="card-title text-center">
                  {{::component.name}}
                </h3>
                <br>
                <h5 class="card-subtitle mb-2 text-muted" ng-if="component.foundry.length>0">
                    Foundry: {{::component.foundry}}
                </h5>
                <div class="card-footer bg-transparent border-elegant">
                <div class="float-right">
                  <a href="#/component/{{component._id}}" class="btn btn-sm btn-warning btn-lg btn-block" role="button" aria-pressed="true">
                    Edit/Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
