  <div class="panel panel-default" ng-init="getComponents()">
  <div class="panel-heading">
    <main role="main" class="col-md-12 ml-sm-auto">
      <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center border-bottom text-monospace">
        <h1>Components</h1>
      </div>
    </div>
    <form>
      <label class="sr-only" for="inlineFormInputGroupAll">All</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><span data-feather="search"></span></div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupAll" ng-model="q" placeholder="Keyword" aria-label="filter blocks" placeholder="Keyword">
      </div>
    </form>
    <div class="btn-group d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center" role="group" aria-label="view">
      <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseFunctions" aria-expanded="false" aria-controls="collapseFunctions">
        View Functions
      </button>
      <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseParameters" aria-expanded="false" aria-controls="collapseParameters">
        View Parameters
      </button>
    </div>
    <br><br>
    <div class="collapse" id="collapseFunctions">
      <div class="panel-body">
        <div class="row d-flex justify-content-center" id="FoundriesCopy">
          <div ng-repeat="component in components | filter : {type: 'function'} | filter : q">
            <div class="card border-elegant" style="width: 20rem; height: 100%;">
              <div class="card-body">
                <h3 class="card-title text-center">{{component.name}}</h3>
                <div class="float-right">
                  <a href="#/component/{{component._id}}" class="btn btn-sm btn-dark btn-lg btn-block" role="button" aria-pressed="true"> Edit/Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseParameters">
    <div class="panel-body">
      <div class="row d-flex justify-content-center" id="FoundriesCopy">
        <div ng-repeat="component in components | filter : {type: 'parameter'} | filter : q">
          <div class="card border-elegant" style="width: 30rem; height: 100%;">
            <div class="card-body">
              <h3 class="card-title text-center">{{component.name}}</h3>
              <div class="float-right">
                <a href="#/component/{{component._id}}" class="btn btn-sm btn-dark btn-lg btn-block" role="button" aria-pressed="true" disabled> Edit/Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
