  <main role="main" class="col-md-12 mx-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#/components">
            Attributes
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="definition">
          {{component.name}}
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div ng-init="[getComponent(),getFoundries()]">
          <div class="card border-elegant" style="min-width: 100%; height: 100%;">
            <div class="card-body">
              <h4 class="card-title text-center">
                {{component.name}}
              </h4>
              <br>
              <h5 class="card-subtitle mb-2 text-muted" ng-repeat="foundry in foundries" ng-if="component.type=='reference'&&component.foundry.length>0&&foundry._id==component.foundry">
                Foundry: {{foundry.name}}
              </h5>
              <div class="card-footer bg-transparent">
              <div class="float-left">
                <a href="#/component/edit/{{component._id}}" class="btn btn-warning btn-sm">
                  <span data-feather="edit" class="text-white" style="width: 15px; height: 15px;">
                  </span>
                </a>
              </div>
              <div class="float-left" ng-if="component.type=='reference'">
                <a href="#/assign_component/{{component._id}}" class="btn btn-info btn-sm">
                  Assign
                </a>
              </div>
              <div class="float-right">
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#fModal" data-backdrop="false">
                  <span data-feather="trash-2" class="text-white" style="width: 15px; height: 15px;">
                  </span>
                </button>
              </div>
              <div class="modal fade" id="fModal" tabindex="-1" role="dialog" aria-labelledby="fModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="fModalLabel">
                          Deleting {{component.name}} ...
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">
                            &times;
                          </span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete {{component.name}} ?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-elegant" data-dismiss="modal">
                          Cancel
                        </button>
                        <button type="button" class="btn btn-warning" ng-click="removeComponent(component._id)">
                          Yes, delete !
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
