  <div class="panel panel-default" ng-init="getDefinitions()">
  <div class="panel-heading">
    <main role="main" class="col-md-12 ml-sm-auto">
      <div class="d-flex justify-content-center border-bottom text-monospace">
        <h1>Library of standard building blocks</h1>
        <button class="btn float-right mb-2 btn-elegant btn-sm" data-clipboard-target="#DefinitionsCopy">
          <img data-feather="copy" alt="Copy to clipboard">
        </button>
      </div>
    </div>
    <form>
      <label class="sr-only" for="inlineFormInputGroupAll">All</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><span data-feather="search"></span></div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupAll" ng-model="p"  placeholder="Keyword" aria-label="filter definitions">
      </div>
    </form>
    <form>
      <div class="form-row">
        <div class="col">
          <div class="panel panel-default" ng-init="getComponents()">
            <select class="custom-select custom-select mb-2" ng-model="d">
              <option value="{{component.name}}"selected>Select function</option>
              <option value="{{component.name}}" ng-repeat="component in components | filter : {type: 'function'}">{{component.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <br><br>
    <div class="panel-body">
      <div class="row d-flex justify-content-center" id="DefinitionsCopy">
        <div ng-repeat="definition in definitions | filter:d | filter:p">
          <div class="card border-elegant" style="width: 23.5rem; height: 100%;">
            <div class="card-body">
              <h3 class="card-title text-center">{{definition.name}}</h3>
              <h5 class="card-subtitle mb-2 text-muted">Function : {{definition.function}}</h5>
              <div class="card-footer bg-transparent border-elegant">
                <br>
                <a href="#/definition/{{definition._id}}" class="btn btn-sm btn-lg btn-block btn-outline-elegant btn-rounded waves-effect" role="button" aria-pressed="true">More info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
