  <main role="main" class="col-md-9 mx-auto">
    <div class="d-flex justify-content-center align-items-center border-bottom">
      <h1 class="h2">
        Edit {{::component.name}}
      </h1>
    </div>
    <br>
    <div class="border border-warning p-4 text-center d-flex bd-highlight bg-dark text-light">
      <div class="p-2 flex-sm-fill bd-highlight">
        <div class="row">
          <div class="col-md-12">
            <form ng-submit="updateComponent()" ng-init="getComponent()">
              <div class="form-group">
                <label class="font-weight-bold">
                  Name
                </label>
                <input type="text" class="form-control" ng-model="component.name" placeholder="name">
              </div>
              <button type="submit" class="btn btn-warning btn-block my-4">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
