  <main role="main" class="col-md-9 mx-auto">
    <div class="d-flex justify-content-center border-bottom">
      <h2>
        Edit {{::definition.name}}
      </h2>
    </div>
    <br>
    <div class="border border-warning p-4 text-center d-flex bd-highlight bg-dark text-light">
      <div class="p-2 flex-sm-fill bd-highlight">
        <div class="row">
          <div class="col-md-12">
            <form ng-submit="updateDefinition()" ng-init="getDefinition()">
              <div class="form-group">
                <label class="font-weight-bold">
                  Name
                </label>
                <input type="text" class="form-control" ng-model="definition.name" placeholder="name">
              </div>
              <div class="form-group">
                <div ng-init="getComponents()">
                  <label class="font-weight-bold">
                     Function
                   </label>
                  <select class="form-control" ng-model="definition.function">
                    <option ng-repeat="component in components|orderBy:'name'|filter:{type:'function'}" value="{{component._id}}">
                      {{component.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="font-weight-bold">
                   Update parameters
                   <small class="form-text text-muted">
                     Hold <kbd class="bg-warning text-dark">Ctrl</kbd> for multiple selection
                   </small>
                 </label>
                <div ng-submit="addDefinitions()">
                  <select class="form-control" size="15" ng-model="definition.specifications" multiple>
                    <option ng-repeat="component in components|orderBy:'name'|filter:{type:'parameter'}" value="{{component._id}}">
                      {{component.name}}
                    </option>
                  </select>
                  <br>
                </div>
              </div>
              <button type="submit" class="btn btn-warning btn-block my-4">
                Submit
              </button>
              <br>
              <br>
              <label class="d-flex justify-content-center font-weight-bold">
                 Selected parameters
               </label>
              <table class="table table-sm">
                <tbody>
                  <tr ng-repeat="specifications in definition.specifications">
                    <th scope="row">
                      {{$index+1}}
                    </th>
                    <td ng-repeat="component in components|filter:{_id:definition.specifications[$index]}">
                      {{component.name}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
