  <main role="main" class="col-md-9 mx-auto">
    <div class="d-flex justify-content-center pt-3 pb-2 mb-3 border-bottom">
      <h2>
        Edit {{::foundry.name}}
      </h2>
    </div>
    <div class="border bg-dark text-light border-warning p-4 text-center d-flex bd-highlight">
      <div class="p-2 flex-sm-fill bd-highlight">
        <div class="row">
          <div class="col-md-12">
            <form ng-submit="updateFoundry()" ng-init="getFoundry()">
              <div class="form-group">
                <label class="font-weight-bold">
                  Name
                </label>
                <input type="text" class="form-control" ng-model="foundry.name" placeholder="name">
                <br>
                <div class="form-row ml-4">
                  <input type="checkbox" class="custom-control-input" id="customCheckch" ng-model="checkedF">
                  <label class="custom-control-label" for="customCheckch" ng-if="foundry.name">
                    check matching existing foundries
                  </label>
                  <hr>
                  <div class="float-right">
                    <span ng-if="checkedF&&foundry.name.length>0">
                      <select class="form-control mb-4 float-right text-dark font-weight-bold" ng-init="getFoundries()">
                        <option>
                          This name has not been used before
                        </option>
                        <option value="{{foundry.name}}" ng-repeat="foundry in foundries|filter:{name:foundry.name}" selected>
                          {{foundry.name}}
                        </option>
                      </select>
                    </span>
                  </div>
                </div>
                <br>
                <textarea class="form-control" ng-model="foundry.notes" placeholder="notes" rows="4" cols="80">
                </textarea>
                <br>
                <div class="border border-warning p-2 text-center font-weight-bold">
                  Contact
                  <br>
                  <br>
                  <div class="col">
                    <label>
                      <span data-feather="user" class="text-primary">
                      </span>
                    </label>
                    <input type="text" class="form-control" ng-model="foundry.contact" placeholder="contact person">
                  </div>
                  <br>
                  <div class="col">
                    <label>
                      <span data-feather="phone" class="text-primary">
                      </span>
                    </label>
                    <input type="text" class="form-control" ng-model="foundry.phone" placeholder="phone">
                  </div>
                  <br>
                  <div class="col">
                    <label>
                      <span data-feather="at-sign" class="text-primary">
                      </span>
                    </label>
                    <input type="text" class="form-control" ng-model="foundry.mail" placeholder="mail">
                  </div>
                  <br>
                  <div class="col">
                    <label>
                      <span data-feather="globe" class="text-primary">
                      </span>
                    </label>
                    <input type="text" class="form-control" ng-model="foundry.url" placeholder="url">
                  </div>
                  <br>
                </div>
              </div>
              <button type="submit" class="btn btn-warning btn-block my-4">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

<script>
  feather.replace()
</script>
