<div ng-init="[getFoundries(),getBlock(),getDefinitions(),getComponents()]">
  <main role="main" class="col-md-12 ml-sm-auto">
    <div class="d-flex justify-content-center border-bottom">
      <h1>
        {{block.name}}
      </h1>
    </div>
    <form ng-init="getBlock()">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="card border-info mb-3 sticky-top mx-auto" style="min-width: 40rem; height: 100%;">
              <div class="card-body">
                <div class="form-group">
                  <h4 class="card-subtitle mb-2 text-muted" ng-repeat="foundry in foundries" ng-if="block.foundry.length>0&&block.foundry==foundry._id">
                    Foundry: {{foundry.name}}
                  </h4>
                  <h4 class="card-subtitle mb-2 text-muted" ng-repeat="component in components|filter:{type:'function'}" ng-if="block.function==component._id">
                    Function: {{component.name}}
                  </h4>
                  <div ng-repeat="definition in definitions" ng-if="block.class==definition._id">
                    <h4 class="card-subtitle mb-2 text-muted">
                      Class: {{definition.name}}
                    </h4>
                    <h4 class="card-subtitle mb-2 text-muted" ng-if="block.reference=='PDK'">
                      <span class="badge badge-light">
                        Reference: {{::block.reference}}
                      </span>
                      <span class="badge badge-light" ng-repeat="component in components|filter:{type:'reference'}" ng-if="component._id==block.source&&block.foundry==component.foundry">
                        Source: {{::component.name}}
                      </span>
                    </h4>
                    <h4 class="card-subtitle mb-2 text-muted" ng-if="block.reference=='Literature'">
                      <span class="badge badge-pill badge-danger">
                        Reference: {{::block.reference}}
                      </span>
                      <span class="badge badge-pill badge-danger" ng-repeat="component in components|filter:{type:'reference'}" ng-if="component._id==block.source&&block.foundry==component.foundry">
                        Source: {{::component.name}}
                      </span>
                    </h4>
                    <h4 class="card-subtitle mb-2 text-muted" ng-if="block.reference=='VLC'">
                      <span class="badge badge-pill badge-warning">
                        Reference: {{::block.reference}}
                      </span>
                      <span class="badge badge-pill badge-warning" ng-repeat="component in components|filter:{type:'reference'}" ng-if="component._id==block.source&&block.foundry==component.foundry">
                        Source: {{::component.name}}
                      </span>
                    </h4>
                    <div class="border border-info p-2 text-center">
                      <p class="font-weight-bold">
                        Status:
                      </p>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="ActiveR" ng-model="block.status" value="up-to-date">
                        <label class="custom-control-label" for="ActiveR">
                          Up-to-date
                          <small class="form-text text-muted">
                            Fully functional up-to-date blocks
                          </small>
                        </label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="tobeR" ng-model="block.status" value="to-be-updated">
                        <label class="custom-control-label" for="tobeR">
                          To be updated
                        </label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="ObsoleteR" ng-model="block.status" value="obsolete">
                        <label class="custom-control-label" for="ObsoleteR">
                          Obsolete
                          <small class="form-text text-muted">
                            Deprecated/discarded blocks
                          </small>
                        </label>
                      </div>
                    </div>
                    <div class="card-footer bg-transparent border-elegant">
                      <table class="table table-hover table-sm table-striped h5">
                        <thead>
                          <tr>
                            <th scope="col">
                            </th>
                            <th scope="col">
                              <b>
                                Class bound parameters
                              </b>
                            </th>
                            <th scope="col"><b>Value</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="specifications in definition.specifications" ng-if="block.class==definition._id">
                            <th scope="row">
                              {{$index+1}}
                            </th>
                            <td ng-repeat="component in components|filter:{_id:definition.specifications[$index]}">
                              {{component.name}}
                            </td>
                            <td>
                              {{block.valuec[$index]}}
                            </td>
                            <td style="width: 5rem">
                              <input type="text" class="form-control" ng-model="block.valuec[$index]">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table table-hover table-sm table-striped h5" ng-if="block.parameters.length>0">
                        <thead>
                          <tr>
                            <th scope="col">
                            </th>
                            <th scope="col">
                              <b>
                                Custom parameters
                              </b>
                            </th>
                            <th scope="col">
                              <b>
                                Value
                              </b>
                            </th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="parameters in block.parameters">
                          <tr>
                            <th scope="row">
                              {{$index+1}}
                            </th>
                            <td ng-repeat="component in components|filter:{_id:block.parameters[$index]}">
                              {{component.name}}
                            </td>
                            <td>
                              {{block.valueo[$index]}}
                            </td>
                            <td style="width: 5rem">
                              <input type="text" class="form-control" ng-model="block.valueo[$index]">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <input type="submit" ng-click="updateBlock()" class="btn btn-block my-4 btn-info" value="Update" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
