<div ng-init="[getFoundry(),getComponents(),getDefinitions(),getBlocks()]">
  <main role="main" class="col-md-12 ml-sm-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#/mains">
            Foundries
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="foundry">
          {{foundry.name}}
        </li>
      </ol>
    </nav>
    <div class="d-flex justify-content-center">
      <h2>
        {{foundry.name}}
      </h2>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <!-- Call reading a foundry service from the controller-->
          <div class="card border-elegant" style="width:100%; height:100%;">
            <div class="card-body">
              <button class="btn btn-sm float-right mb-2" data-clipboard-target="#CardCopy" style="background-color:#fff;">
                <img data-feather="copy" alt="Copy to clipboard" class="text-dark" style="height:15px;">
              </button>
              <div ng-if="foundry.notes.length>0">
                <button type="button" class="btn float-right btn-sm text-light" data-toggle="modal" data-target="#nModal" data-backdrop="false" style="background-color:#2E2E2E;">
                  <span data-feather="clipboard" style="width: 15px; height: 15px;">
                  </span>
                </button>
              </div>
              <div id="CardCopy">
                <h6 class="card-subtitle mb-2 text-muted">
                  <span data-feather="user" class="text-primary">
                  </span>
                  {{foundry.contact}}
                </h6>
                <h6 class="card-subtitle mb-2 text-muted">
                  <span data-feather="phone" class="text-primary">
                  </span>
                  {{foundry.phone}}
                </h6>
                <a href="mailto:{{foundry.mail}}" class="card-subtitle mb-2 text-muted" role="button" aria-pressed="true">
                  <span data-feather="at-sign" class="text-primary">
                  </span>
                  {{foundry.mail}}
                </a>
                <br>
                <a href="{{foundry.url}}" class="card-subtitle mb-2 text-muted" role="button" aria-pressed="true" target="_blank">
                  <span data-feather="globe" class="text-primary">
                  </span>
                  {{foundry.url}}
                </a>
                <br>
                <br>
                <div ng-repeat="component in components|filter:{foundry:foundry._id}|filter:{type:'reference'}">
                  <h6 class="card-subtitle mb-2 text-muted">
                    <span class="badge badge-pill badge-light">
                      {{component.name}}
                    </span>
                  </h6>
                </div>
                <div class="card-footer bg-transparent border-elegant">
                  <a class="btn btn-lg btn-block btn-outline-elegant" data-placement="right" title="The count of the blocks by this block according to the selected class">
                    <span class="badge badge-warning">
                      {{(blocks|filter:{class:definition._id}|filter:{class:d}|filter:{foundry:foundry._id}).length}}
                    </span>
                    Blocks
                  </a>
                  <br>
                    <select class="custom-select custom-select-sm mb-2" ng-model="d">
                      <option value="" selected>
                        Select Class
                      </option>
                      <option value="{{definition._id}}" ng-repeat="definition in definitions | orderBy : 'name' | filter:s" ng-hide="Cc==0">
                        ({{Cc=(blocks|filter:{class:definition._id}|filter:{foundry:foundry._id}).length}})|{{definition.name}}
                      </option>
                    </select>
                  <!-- Call reading all the blocks service from the controller-->
                  <div class="collapse show" id="collapseBlock">
                    <div class="row d-flex justify-content-center">
                       <!-- Display the read blocks' documents by block scope | condition: match if the block foundry (from blocks collection) attribute with the block name attribute (from foundries collection)-->
                      <div ng-repeat="block in blocks|filter:{class:d}|orderBy:'function'" ng-if="block.foundry==foundry._id">
                        <!-- Link to redirect to the block by id -->
                        <h5>
                          <a href="#/block/{{block._id}}" class="badge badge-dark" target="_blank">
                            {{block.name}}
                          </a>
                          &nbsp
                        </h5>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="float-left">
                    <!-- Link to redirect to foundry editing view by id -->
                    <a href="#/foundry/edit/{{foundry._id}}" class="btn btn-warning btn-sm">
                      <span data-feather="edit" class="text-white" style="width: 15px; height: 15px;">
                      </span>
                    </a>
                  </div>
                  <div class="float-right">
                    <!-- Link to display confirmation window for foundry deleting -->
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#fModal" data-backdrop="false">
                      <span data-feather="trash-2" class="text-white" style="width: 15px; height: 15px;">
                      </span>
                    </button>
                  </div>
                  <div class="modal fade" id="nModal" tabindex="-1" role="dialog" aria-labelledby="nModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="eModalLabel">
                            {{foundry.name}} notes
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                              &times;
                            </span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="table-responsive">
                          {{foundry.notes}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="fModal" tabindex="-1" role="dialog" aria-labelledby="fModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="fModalLabel">
                            Deleting {{foundry.name}} ...
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                              &times;
                            </span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete {{foundry.name}} ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-elegant" data-dismiss="modal">
                            Cancel
                          </button>
                          <!-- Call deleting a foundry service from the controller-->
                          <button type="button" class="btn btn-warning" ng-click="removeFoundry(foundry._id)">
                            Yes, delete !
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
