<div class="card-group mx-auto" style="height: 75%; width: 75%;">
  <div class="card">
    <img class="card-img-top mx-auto mt-5"  data-feather="cpu" style="height: 25%; width: 25%;" alt="">
    <div class="card-body">
      <a href="#/blocks" class="text-warning">
      <h5 class="card-title">Blocks</h5>
      <p class="card-text">Building blocks technical information.</p>
      <p class="card-text"><small class="text-muted">Filter by Foundry/Classification/Status, References, Parameters</small></p>
      </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top mx-auto mt-5" data-feather="bar-chart-2" style="width: 25%; height: 25%;" alt="">
    <div class="card-body">
      <a href="#/insights" class="text-warning">
      <h5 class="card-title">Insights</h5>
      <p class="card-text">Tools providing in-depth insights on data.</p>
      <p class="card-text"><small class="text-muted">Parameters finder, specifications comparator.</small></p>
      </a>
    </div>
  </div>
</div>
<div class="card-group mx-auto" style="height: 75%; width: 75%;">
  <div class="card">
    <img class="card-img-top mx-auto mt-5" data-feather="map" style="width: 25%; height: 25%;" alt="">
    <div class="card-body">
      <a href="#/scopes" class="text-warning">
      <h5 class="card-title">Map of scopes</h5>
      <p class="card-text">An overview of the building blocks distribution over operating foundries.</p>
      <p class="card-text"><small class="text-muted">Accessible through Blocks view.</small></p>
      </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top mx-auto mt-5" data-feather="book-open" style="width: 25%; height: 25%;" alt="">
    <div class="card-body">
      <a href="#/definitions" class="text-warning">
      <h5 class="card-title">Definition of classes</h5>
      <p class="card-text">Definition of building blocks classification.</p>
      <p class="card-text"><small class="text-muted">Classes, Functions, Parameters</small></p>
      </a>
    </div>
  </div>
</div>
<div class="card-group mx-auto" style="height: 75%; width: 75%;">
  <div class="card">
    <img class="card-img-top mx-auto mt-5" data-feather="archive" style="width: 25%; height: 25%;" alt="">
    <div class="card-body">
      <a href="#/components" class="text-warning">
      <h5 class="card-title">Attributes</h5>
      <p class="card-text">Library of attributes used to construct building blocks and their classes.</p>
      <p class="card-text"><small class="text-muted">Functions, Parameters, References</small></p>
      </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top mx-auto p-2 " src="views/source/css/icones/factory-home.svg" style="width:30%; height: 30%;" alt="">
    <div class="card-body">
      <a href="#/mains" class="text-warning">
      <h5 class="card-title">Foundries</h5>
      <p class="card-text">Foundries related information including contact info, references (processes) and their manufactured building blocks.</p>
      </a>
    </div>
  </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
